body {
background: #ececec url(../img/bg.jpg);
background-color:#424155;
color: #f5f5f5;
text-shadow: 0px 1px 1px #1b1b1b;
filter: dropshadow(color=#1b1b1b, offx=0, offy=1);
}
h1 { margin-top:150px; text-align:center;}